@import "compass/reset"
@import "compass/layout"

+sticky-footer(+70px)

body
  background:
    color: #b1eec4
    image: linear-gradient(to top, #87d59b, #caf7d8) 
    attachment: fixed
  min-width: 1000px


#header
  margin: 0 auto
  width: 630px
  padding-top: 20px

#berry_title
  left: 345px
  top: 60px

#menu
  float: left
  margin: 70px 0 20px 30px
  line-height: 0px
  list-style-image: none
  list-style-type: none

#author
  top: 56px

#poetry
  top: 139px

#prose
  top: 223px

#guestbook
  top: 310px


#stick
  float: left
  margin-top: 120px
  margin-left: 27px

#content
  margin: 150px 40px 40px 330px
  font-size: 25px
  line-height: 30px
  

#author, #poetry, #prose, #guestbook
  display: block

#made_by
  font-size: 15px
  margin-left: 10px
  line-height: 17px


li a
  display: block

li a, #author, #poetry, #prose, #guestbook
  width: 163px
  height: 58px 

#epigraph
  text-align: right

.author_img
  display: inline-block
  margin-right: 30px

#author_photo 
  text-align: center
 
#hello_world p
  margin-top: 10px

.form-inputs
  display: table
  
.comment_author, .comment_text
  display: table-row

.control-label, #comment_author, #comment_text 
  display: table-cell
  vertical-align: middle
  margin-left: 4px

textarea
  max-width: 400px

.control-label, #pages a
  font-size: 23px


textarea, input[type="text"]
  border: 1px solid #41a046
  
textarea:focus, input[type="text"]:focus
  outline: 1px ridge #12650d

input[type="submit"]
  background-color: #6bc069
  font-size: 17px
  padding: 5px
  border: 1px solid #12650d
  margin-top: 10px

input[type="submit"]:focus
  outline: none

input[type="submit"]:hover, input[type="submit"]:focus
  background-color: #49a74f

.guest_name, .del, .edit
  margin-right: 5px

#comment_table
  margin-top: 30px

.comment_number p
  margin-left: 15px
  font-size: 21px
 
#pages a
  margin-right: 5px

.comment_current_page_number, .product_title
  font-size: 26px

.guest_name, .date
  font-size: 25px

#menu, #header
  position: relative

#berry_title, #author, #poetry, #prose, #guestbook
  position: absolute

#pages a, body a:link, body a:visited
  color: black
  text-decoration: none

.comment_current_page_numbe, .guest_name, .date, .product_title
  font-weight: bold

#author_photo, .form-inputs, .del, .edit
  margin-top: 20px

#epigraph, .comment_number
  margin-bottom: 20px 

#product_text p 
  margin-top: 10px

.del, .edit
  display: inline-block
 