#content_bird
  width: 435px

#title_bird
  width: 803px

.main_link
  display: block
  margin: 0 auto

body
  background:
    color: #b1eec4
    image: linear-gradient(to top, #87d59b, #caf7d8) 
    attachment: fixed
  min-width: 1000px
